[data-role=header] .ui-btn.ui-btn-icon-left .ui-icon,
#tourset-list .ui-icon-arrow-r
 {
	background-size: 500px 500px !important;
}

.tour-times .ui-radio:last-child {
	/*width: 34.5%;*/
}

.tour-times label .ui-btn-inner .ui-btn-text {
	font-size: 18px;
}

.tour-set-img-leader .tour-set-leader {
	width: auto;
}