.ui-page, .ui-mobile, .ui-mobile-viewport {
  -webkit-backface-visibility: visible;
  /* prevent jQuery Mobile page flicker (partial fix) */
}

.ui-actionsheet-content {
  top: 100px !important;
}

.tour-times .ui-radio:last-child {
  /*width: 35%;*/
}

.media-bar [data-role="controlgroup"] a {
  width: 80px;
}
.media-bar [data-role="controlgroup"] a .ui-btn-inner {
  text-overflow: clip !important;
  visibility: hidden;
}
.media-bar [data-role="controlgroup"] a#wp-share {
  width: 80px;
}

.tour-set-img-leader .tour-set-leader {
  width: auto;
}
