@import 'constants';
@import 'type';
@import 'ui';

.ui-body-c, .ui-overlay-c {
	background: url('images/content-bg.gif') repeat;
}

[data-role=header] {

	.ui-title {
		margin-top: .4em;
		margin-bottom: .4em;
		margin-left: 35%;
		background: url('images/ui.png') no-repeat 0 0;
		width: 103px;
		height: 28px;
		text-indent: -9999px;
		/*color: transparent;*/
	}
	
	.ui-btn {
		width: 26px;
		height: 26px;
		box-shadow: none;
		border: 3px solid #d9ebed;
		
		&.ui-btn-active {
			background: $ui-em-color;
		}
		
		.ui-btn-inner {
			width: 60px;
			height: 30px;
			padding: 0;
			border: none;
		}
		
		.ui-btn-text {
			display: none;
			text-shadow: none;
			color: $ui-em-color;
		}
		
		.ui-icon {
			border: none;
			border-radius: 0;
		}
		
		&.ui-btn-icon-left {
			width: 56px;
			background: $ui-em-color;
			
		&:active, &:hover {
			background-color: $header-link-color;
		}
		
			.ui-icon {
				margin-top: -13px;
				left: 17px;
				width: 22px;
				height: 22px;
				border: none;
				border-radius: 0;
				background: url('images/ui.png') no-repeat -209px -6px;
				
			}
		}
		
		&.ui-btn-icon-left.reload {
			background: auto;
			width: 30px;
			margin-right: 20%;
			margin-top: 1px;
			
			.ui-icon {
				left: 5px;
				background-image: url(../lib/js/images/icons-18-black.png);
				background-position: 	-358px 3px;
			}
			
			.ui-btn-text {
				display: none;
				margin-top: 5px;
				color: #033748;
			}
		}
		
		&.ui-btn-right {
			margin-top: -2px;
		
			.ui-icon.ui-icon-flag {
				margin-top: 4px;
				left: 9px;
				margin-left: 5px;
				width: 22px;
				height: 22px;
				border: none;
				border-radius: 0;
				background: url('images/ui.png') no-repeat -135px -153px;
			}
			
			
		}
	}
} 

#definition [data-role=header] .ui-title {
	background: none;
	text-indent: 0;
	text-overflow: clip;
	width: auto;
	line-height: 1.5;
	margin-left: 0;
	margin-right: 0;
}

#waypoint [data-role=header] .ui-btn.ui-btn-right {
	&.ui-btn-active {
		background: none;
		border-color: $ui-important-color;
		
		.ui-icon.ui-icon-flag {
			background-position: -189px -153px;
		}
	}
}

#topics, #topic-filter {
	.ui-btn {
	
		&.ui-btn-right {
			width: 50px;
			margin-top: 1px;
						
			.ui-btn-inner {
				width: 100%;
				margin-top: 4px;
			}
			
			.ui-btn-text {
				display: block;
			}
			
			&.ui-btn-active .ui-btn-text {
				color: $header-link-color;
			}

		}
	}
}

[data-role="footer"] .ui-navbar {
	.ui-btn-active {
		background: $aux-nav-color;
	}
	
	.ui-block-a a {
		background:  url('images/nav.png') center 11px no-repeat;
		
		&.ui-btn-active {
			background-position: center -50px;
		}
	}
	
	.ui-block-b a {
		background:  url('images/nav.png') no-repeat center -117px;
		
		&.ui-btn-active, &.ui-state-persist {
			background-position: center -189px;
		}
	}
	
	.ui-block-c a {
		background:  url('images/nav.png') no-repeat center -261px;
		
		&.ui-btn-active {
			background-position: center -329px;
		}
	}
	
	.ui-btn-text {
		display: none;
	}
	
	.ui-disabled {
		opacity: 1;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

	.ui-body-c, 
	.ui-overlay-c, 
	{
		background: url('images/content-bg-2x.gif');
		background-size: 125px 125px;
	}
	
	[data-role=header] .ui-title, 
	[data-role=header] .ui-btn-icon-left .ui-icon,
	[data-role=header] .ui-btn-right .ui-icon.ui-icon-flag
	 {
		background-image: url('images/ui-2x.png') !important;
		background-size: 500px 500px !important;
	}
	
	[data-role="footer"] .ui-navbar li a {
		background-image: url('images/nav-2x.png') !important;
		background-size: 42px 400px !important;
		
		
	}
	
	[data-role="footer"] .ui-navbar .ui-block-c a {
		background-position: center -258px;
		
		&.ui-btn-active {
			background-position: center -324px;
		}
	}
	
	[data-role=header] .ui-btn-icon-left .ui-icon {
		background-position: -419px -12px;
	}
	
	#definition [data-role=header] .ui-title {
		background-image: none !important;
	}
	
}

div#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}